page-home {
    ion-content {
        .scroll-content {
            text-align:center;
            background-color: black;
            color:white;
            
            #reveal-button {
                height:200px;
                width:200px;
                border-radius:100%;
            }
        }
    }
    
}
