ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}

page-home {
    text-align: center;
    #map {
        height: 100%;
        z-index: 9999;
    }
    .no-scroll {
        .scroll-content {
            overflow-y: hidden;
        }
    }
}
